@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.loading,
.successlogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -15px;
}
.loading p,
.successlogin p {
  color: #00aaff;
  font-weight: 900;
  font-size: 20px;
  font-family: "Chakra Petch";
}
.circle {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #00aaff;
  border-left-color: transparent;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.successlogin i {
  font-size: 35px;
}


main {
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
form {
  color: white;
  background-color: transparent;
  padding: 20px;
  margin: 20px auto;
  background: #4b46862e;
  backdrop-filter: blur(10px);
  box-shadow:
    0px 0px 2px #0f009ca8,
    0 0 25px #3b2dc09c;
  gap: 25px;
  border-radius: 25px;
  font-family: "Chakra Petch", "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 450px;
  h1 {
    text-align: center;
    margin-bottom: -15px;
    color: rgb(209, 255, 5);
    font-family: "Chakra Petch";
    font-size: 2.3rem;
  }
  .error,
  .errChargeMsg {
    color: red;
  }

  .login-btn {
    padding: 10px;
    width: 90%;
    border-radius: 25px;
    font-family:
      Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    border-style: none;
    background-color: rgb(0, 170, 255);
  }
  .login-btn:hover {
    color: white;
    transform: translateY(1.7px);
    transition: 0.3s;
    cursor: pointer;
  }

}
form .input-box {
  padding: 10px;
  width: 100%;
}
form .input-box input {
  padding: 10px;
  width: 100%;
  outline: none;
  border-color: transparent;
  border-bottom-color: #0085ff;
  background-color: transparent;
  color: white;
}
form .input-box {
  position: relative;
  background-color: transparent;
  font-weight: 800;
  font-family: cursive;
  letter-spacing: 0.5px;
}

form .input-box label {
  position: absolute;
  left: 15px;
  top: 15px;
  color: gray;
  transition: 0.3s;
  background-color: transparent;
}

form .input-box input:hover {
  transform: translateX(1.7px);
  transition: 0.3s;
}
/* إزالة الخلفية البيضاء الناتجة عن الإكمال التلقائي */
form .input-box input:-webkit-autofill,
form .input-box input:-webkit-autofill:hover,
form .input-box input:-webkit-autofill:focus,
form .input-box input:-webkit-autofill:active {
  /* 
  -webkit-text-fill-color: white !important;
  */
  transition: background-color 5000s ease-in-out 0s;
  font-weight: 800;
  font-family: cursive;
  letter-spacing: 0.5px;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}
form .input-box input:focus + label,
form .input-box input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: #00a2ff;
  background-color: transparent;
}

.light-theme .input-box input:-webkit-autofill,
.light-theme .input-box input:-webkit-autofill:hover,
.light-theme .input-box input:-webkit-autofill:focus {
  -webkit-text-fill-color: #1a3a8a !important;
  -webkit-box-shadow: 0 0 0 1000px #eef5fa inset !important;
  caret-color: #1a3a8a;
}
.light-theme .input-box input:focus + label,
.light-theme .input-box input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: #1a3a8a;
  background-color: transparent;
  -webkit-text-fill-color: #1a3a8a !important;
}

.light-theme form {
  background: linear-gradient(180deg, #eef5fa 80%, #d4dde4 100%);
  box-shadow:
    0px 0px 5px #00000000,
    0 0 25px #0000004d;
}
.light-theme form h1 {
  color: #1a3a8a;
}
.light-theme body,
.light-theme header,
.light-theme footer,
.light-theme main {
  background: #add0ff;
}


.light-theme .login-btn {
  background-color: #1a3a8a;
  color: white;
}
.light-theme .login-btn:hover {
  color: #add0ff;
}
@media (max-width: 1200px) {
  form {
    width: 60%;
  }
}
/* Mobiles */

@media (max-width: 767px) {
  form {
    width: 80%;
    align-items: center;
    padding: 20px;
    margin: 20px auto;

    h1 {
      text-align: center;
      font-size: 1.5rem;
    }
    .input-box {
      padding: 10px;
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    .input-box input {
      padding: 10px;
      width: 100%;
      border-style: none;
      outline: none;
      border-radius: 15px;
    }

    .input-box input:hover {
      transform: translateX(1.7px);
      transition: 0.3s;
    }

    .login-btn {
      padding: 10px;
      border-radius: 25px;
      font-size: 1.5rem;
      font-weight: 700;
      border-style: none;
      background-color: rgb(0, 170, 255);
    }
    .login-btn:hover {
      color: var(--links-hover);
      transform: translateY(1.7px);
      transition: 0.3s;
      cursor: pointer;
    }

  }
}
