@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap");
:root {
  --background: linear-gradient(135deg, #030813 0%, #0a1222 55%, #050a12 100%);
  --shadow: 0 30px 80px rgba(0, 0, 0, 0.45);
  --signature: #1e0146;
  --nav: #0a1222;
  --main-text: rgb(209, 255, 5);
  --main-text1: #b1ff3c;
  --main-text2: #e0ff58;
}

.nav-logo a:hover{
    letter-spacing: 15px;
    transition: .5s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  height: 80vh;
  background: linear-gradient(135deg, #030813 0%, #0a1222 55%, #050a12 100%);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

form {
    color: white;
    background-color: transparent;
    padding: 20px;
    margin: 20px auto;
    background: #4b46862e;
    backdrop-filter: blur(10px);
    
    /* box-shadow:
    0 0 10px #9500ff80,
    0 0 30px rgba(255, 255, 255, 0.2),
    inset 0 0 15px rgba(255, 255, 255, 0.1); */

    box-shadow: 0px 0px 2px #0f009ca8, 0 0 25px #3b2dc09c;
    gap: 25px;
    border-radius: 25px;
    font-family: "Chakra Petch", "Trebuchet MS", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 555px;
     h1{
        text-align: center;
        padding: 10px;
        color: var(--main-text);
        font-family: 'Chakra Petch';
        font-size: 2.3rem;
    }   

  .input-box {
    padding: 10px;
    width: 100%;
  }
  .input-box input {
    padding: 10px;
    width: 100%;
    border-style: none;
    outline: none;
    border-radius: 15px;
  }

  .input-box input:hover {
    transform: translateX(1.7px);
    transition: 0.3s;
  }

  .login-btn {
    padding: 10px;
    width: 577px;
    border-radius: 25px;
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    border-style: none;
    background-color: rgb(0, 170, 255);
  }
  .login-btn:hover {
    color: white;
    transform: translateY(1.7px);
    transition: 0.3s;
    cursor: pointer;
  }

  .fa-lock,
  .fa-key,
  .fa-user,
  .fa-envelope {
    color: var(--signature);
  }

  .fa-lock {
    position: absolute;
    right: 45px;
    top: 375px;
  }
  .fa-key {
    position: absolute;
    top: 295px;
    right: 45px;
  }
  .fa-user {
    position: absolute;
    top: 215px;
    right: 45px;
  }
  .fa-envelope {
    position: absolute;
    top: 135px;
    right: 45px;
  }
}

.have-acc {
  display: flex;
  gap: 5px;
  font-size: large;
  a {
    text-decoration: underline;
    color: rgb(0, 170, 255);
  }
  a:hover {
    color: white;
    transform: translateY(-2px);
    transition: .5s;
}
}

/* Mobiles */
@media (max-width: 767px) {
  form {
    width: 100%;
    h1{
      font-size: 1.5rem;
    }
    .have-acc{
      font-size: 15px;
      display: flex;
      gap: 10px;
    }
    .login-btn{
      width: 240px;
    }
    .fa-lock {
      position: absolute;
      right: 45px;
      top: 375px;
  }
  .fa-key {
    position: absolute;
    top: 290px;
    right: 45px;
  }
  .fa-user {
    position: absolute;
    top: 205px;
    right: 45px;
  }
  .fa-envelope {
    position: absolute;
    top: 125px;
    right: 45px;
  }

  }
}
