@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap");

.nav-logo a:hover {
  letter-spacing: 15px;
  transition: 0.5s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 80vh;
  background: linear-gradient(135deg, #030813 0%, #0a1222 55%, #050a12 100%);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.createaccsuccess {
  width: 450px;
  height: 275px;
  color: #1a3a8a;
  background-color: #d1e4fd;
  border-radius: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  padding-top: 20px;

  display: none;
  z-index: 999;

  p {
    letter-spacing: 4px;
    font-family: "FontAwesome";
    font-size: 40px;
    line-height: 1.3;
  }
  i {
    font-size: 60px;
    padding: 20px;
  }
}

form {
  color: white;
  background-color: transparent;
  padding: 20px;
  margin: 20px auto;
  background: #4b46862e;
  backdrop-filter: blur(10px);
  box-shadow:
    0px 0px 2px #0f009ca8,
    0 0 25px #3b2dc09c;
  gap: 25px;
  border-radius: 25px;
  font-family: "Chakra Petch", "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 620px;
  h1,
  h3 {
    text-align: center;
    color: rgb(209, 255, 5);
    font-family: "Chakra Petch";
  }
  h1 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
    margin: 10px 0 -10px 0;
  }

  .input-box {
    padding: 10px;
    width: 100%;
  }
  .input-box input {
    padding: 10px;
    width: 100%;
    border-style: none;
    outline: none;
    border-radius: 15px;
  }

  .input-box input:hover {
    transform: translateX(1.7px);
    transition: 0.3s;
  }
  #Eerror {
    position: relative;
    right: 15px;
  }
  .pass-checker {
    position: relative;
    bottom: 20px;
    right: 20px;
    color: rgb(0, 170, 255);
  }
  .error p {
    color: red;
    position: relative;
    right: 140px;
    top: 25px;
  }
  .equalCheck {
    color: red;
    position: relative;
    top: 15px;
    right: 140px;
    display: none;
  }

  #Eerror {
    display: none;
  }
  #Uerror {
    display: none;
  }
  #Perror {
    display: none;
  }

  .login-btn {
    padding: 10px;
    width: 577px;
    border-radius: 25px;
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    border-style: none;
    background-color: rgb(0, 170, 255);
  }
  .login-btn:hover {
    color: white;
    transform: translateY(1.7px);
    transition: 0.3s;
    cursor: pointer;
  }

  .fa-lock,
  .fa-key,
  .fa-user,
  .fa-envelope {
    color: #6a00ff;
  }

  .fa-lock {
    position: absolute;
    right: 45px;
    top: 395px;
  }
  .fa-key {
    position: absolute;
    top: 315px;
    right: 45px;
  }
  .fa-user {
    position: absolute;
    top: 235px;
    right: 45px;
  }
  .fa-envelope {
    position: absolute;
    top: 155px;
    right: 45px;
  }
}

.have-acc {
  display: flex;
  gap: 5px;
  font-size: large;
  a {
    text-decoration: underline;
    color: rgb(0, 170, 255);
  }
  a:hover {
    color: white;
    transform: translateY(-2px);
    transition: 0.5s;
  }
}
.light-theme body,
.light-theme header,
.light-theme footer,
.light-theme main {
  background: #add0ff;
}

.light-theme form {
  /* padding: 10px; */
  background: linear-gradient(180deg, #eef5fa 80%, #d4dde4 100%);
  box-shadow:
    0px 0px 0px #010101d1,
    0 0 25px #2424269c;
}
.light-theme main{
  margin: 100px auto;
}
.light-theme .have-acc p {
  font-size: 500;
  color: #1a3a8a;
}

.light-theme .have-acc a {
  color: #4e7ac0;
}

.light-theme .have-acc a:hover {
  color: rgb(93, 52, 146);
  transform: translateY(-2px);
  transition: 0.5s;
}

.light-theme form h1 {
  color: #1a3a8a;
}
.light-theme form h3 {
  color: #1a3a8a;
}

.light-theme .login-btn {
  background-color: #1a3a8a;
  color: white;
}
.light-theme .login-btn:hover {
  color: #add0ff;
}

/* Mobiles */
@media (max-width: 767px) {
  form {
    .form-head {
      padding: 5px;
    }
    width: 300px;
    h1 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1rem;
      margin: 15px 0 -15px 0;
    }
    .have-acc {
      font-size: 15px;
      display: flex;
      gap: 10px;
    }
    .login-btn {
      width: 240px;
    }
    .fa-lock {
      position: absolute;
      right: 45px;
      top: 368px;
    }
    .fa-key {
      position: absolute;
      top: 288px;
      right: 45px;
    }
    .fa-user {
      position: absolute;
      top: 207px;
      right: 45px;
    }
    .fa-envelope {
      position: absolute;
      top: 127px;
      right: 45px;
    }
    .pass-checker {
      position: relative;
      bottom: 20px;
      left: 5px;
      color: rgb(0, 170, 255);
    }
  }
}
