*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.screen{
    display: grid;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
main{
    margin-top: 30px;
    overflow-x: hidden;
}
.goUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: xx-large;
  
  padding: 10px;
  border-radius: 20px;
  color: #f7eeee;
  background-color: blueviolet;
  display: none;
  cursor: pointer;
  transition: 0.3s;
}
.light-theme .goUp {
  color: #abccfd;
  background-color: #3a4f7a;
  transition: 0.3s;

}

h1{
    color: var(--main-text);
    margin-left: 100px;
    margin-top: 80px;
    font-size: 2.5rem;
}
#display-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100vw;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    margin: 0px;
}
#display-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 70%;
    max-width: 1300px;
    border-radius: 8px;
}
#display-screen .slide{
    width: 100%;
    max-height: 500px;
    display: none;
    transition: opacity 1s ease-in-out;
}
#display-screen div.active{
    display: block;
    opacity: 1;
    @starting-style {
        opacity: 0;
    }
}
.slide img{
    width: 100%;
}
#display-screen{
    transition: ease 0.7s;
}
#display-screen:hover{
    scale: 1.02;
    box-shadow: 0px -2px 20px 5px rgba(163, 163, 163, 0.356);
}
.arrow{
    color: white;
    background: grey;
    width: 40px;
    height: 40px;
    padding: 10px 9px 20px 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: ease 0.5s;
}
.arrow:hover{
    scale: 1.1;
    box-shadow: 0px 0px 20px 1px rgba(163, 163, 163, 0.356);
}
#categories-container{
    margin-bottom: 50px;
}
h1 a.explore{
    display: inline-block;
    position: relative;
    color:var(--main-text);
    i{
        font-size: 1.5rem;
        color:var(--main-text);
        position: relative;
        bottom: 1px;
    }
}
a.explore:hover{
    translate: 10px 0px;
}
#explore{
    overflow: hidden;
}
.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 25px;
    padding: 20px;
    max-width: 100vw;
    scrollbar-color: var(--main-text) transparent;
}
.game-card {
    display: flex;
    flex-direction: column;
    min-height: 280px;
    min-width: 300px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(106, 0, 255, 0.3);
}

.game-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#red_dead_redemption_2, #elden_ring, #NBA2K26{
    img{
    object-fit: contain;
    }
}

.game-card h3 {
    font-size: 1.2rem;
    color: #ffffff;
    display: inline ;
    margin-bottom: 70px;
}

.game-card p {
    padding-left: 5px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0,0,0,0.6);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: #ffffff;
}

.wish-container {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wish.solid{
    display: none;
}
.wish-container:hover {
    .wish.solid{
        display: inline;
        color: #c3c3c3;
    }
    .wish.regular{
        display: none;
    }
}
.wish-container.active {
    .wish.solid{
        display: inline;
    }
    .wish.regular{
        display: none;
    }
}
.action-btn {
    width: 90%;
    margin: 0 15px 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(33, 90, 57, 0.8);
    color: #ffffff;
    border: 1px solid rgba(13, 24, 17, 0.4); 
}
.light-theme{
    main{
        margin-left: 80px;
        width: 100%;
    }
    #store-header{
        margin-top: 0px;
    }
    #display-container{
        position: relative;
        right: 5%;
    }
    .game-card{
        background:  #1a3a8ac8;
    }
    .game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(6, 0, 43, 0.305);
}

}